<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556179635448-fnrn5ltrm0vfc0vo4d38o2e4dq6gbtab.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556179635448-fnrn5ltrm0vfc0vo4d38o2e4dq6gbtab</string>
	<key>API_KEY</key>
	<string>AIzaSyC8UZbNeWHD-QsN-OAyY-iVOl3jIx5q1ZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>556179635448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aeroplan</string>
	<key>PROJECT_ID</key>
	<string>aeroplane-58511</string>
	<key>STORAGE_BUCKET</key>
	<string>aeroplane-58511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556179635448:ios:e56386a501d798f38e0f0d</string>
</dict>
</plist>